@tailwind base;
@tailwind components;

/* work-sans-200 - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/work-sans-v9-latin-200.eot'); /* IE9 Compat Modes */
    src: local(''), url('/fonts/work-sans-v9-latin-200.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('/fonts/work-sans-v9-latin-200.woff2') format('woff2'),
        /* Super Modern Browsers */ url('/fonts/work-sans-v9-latin-200.woff') format('woff'),
        /* Modern Browsers */ url('/fonts/work-sans-v9-latin-200.ttf') format('truetype'),
        /* Safari, Android, iOS */ url('/fonts/work-sans-v9-latin-200.svg#WorkSans') format('svg'); /* Legacy iOS */
}
/* work-sans-regular - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/work-sans-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''), url('/fonts/work-sans-v9-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('/fonts/work-sans-v9-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */ url('/fonts/work-sans-v9-latin-regular.woff') format('woff'),
        /* Modern Browsers */ url('/fonts/work-sans-v9-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */ url('/fonts/work-sans-v9-latin-regular.svg#WorkSans') format('svg'); /* Legacy iOS */
}
/* work-sans-600 - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/work-sans-v9-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''), url('/fonts/work-sans-v9-latin-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('/fonts/work-sans-v9-latin-600.woff2') format('woff2'),
        /* Super Modern Browsers */ url('/fonts/work-sans-v9-latin-600.woff') format('woff'),
        /* Modern Browsers */ url('/fonts/work-sans-v9-latin-600.ttf') format('truetype'),
        /* Safari, Android, iOS */ url('/fonts/work-sans-v9-latin-600.svg#WorkSans') format('svg'); /* Legacy iOS */
}
/* work-sans-800 - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/work-sans-v9-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''), url('/fonts/work-sans-v9-latin-800.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('/fonts/work-sans-v9-latin-800.woff2') format('woff2'),
        /* Super Modern Browsers */ url('/fonts/work-sans-v9-latin-800.woff') format('woff'),
        /* Modern Browsers */ url('/fonts/work-sans-v9-latin-800.ttf') format('truetype'),
        /* Safari, Android, iOS */ url('/fonts/work-sans-v9-latin-800.svg#WorkSans') format('svg'); /* Legacy iOS */
}
/* work-sans-200italic - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 200;
    src: url('/fonts/work-sans-v9-latin-200italic.eot'); /* IE9 Compat Modes */
    src: local(''), url('/fonts/work-sans-v9-latin-200italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('/fonts/work-sans-v9-latin-200italic.woff2') format('woff2'),
        /* Super Modern Browsers */ url('/fonts/work-sans-v9-latin-200italic.woff') format('woff'),
        /* Modern Browsers */ url('/fonts/work-sans-v9-latin-200italic.ttf') format('truetype'),
        /* Safari, Android, iOS */ url('/fonts/work-sans-v9-latin-200italic.svg#WorkSans') format('svg'); /* Legacy iOS */
}
/* work-sans-italic - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/work-sans-v9-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''), url('/fonts/work-sans-v9-latin-italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('/fonts/work-sans-v9-latin-italic.woff2') format('woff2'),
        /* Super Modern Browsers */ url('/fonts/work-sans-v9-latin-italic.woff') format('woff'),
        /* Modern Browsers */ url('/fonts/work-sans-v9-latin-italic.ttf') format('truetype'),
        /* Safari, Android, iOS */ url('/fonts/work-sans-v9-latin-italic.svg#WorkSans') format('svg'); /* Legacy iOS */
}
/* work-sans-600italic - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 600;
    src: url('/fonts/work-sans-v9-latin-600italic.eot'); /* IE9 Compat Modes */
    src: local(''), url('/fonts/work-sans-v9-latin-600italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('/fonts/work-sans-v9-latin-600italic.woff2') format('woff2'),
        /* Super Modern Browsers */ url('/fonts/work-sans-v9-latin-600italic.woff') format('woff'),
        /* Modern Browsers */ url('/fonts/work-sans-v9-latin-600italic.ttf') format('truetype'),
        /* Safari, Android, iOS */ url('/fonts/work-sans-v9-latin-600italic.svg#WorkSans') format('svg'); /* Legacy iOS */
}

@tailwind utilities;
